body {
    margin-top: 30px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
}

hr {
    display: block;
    border-top: 10px black;
    margin: 1em 0;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    width: 240px;
    height: auto;
    padding: 20px;
    right: 5%;
    top: 20%;
    position: absolute;
}

.sidebar h2 {
    margin-top: 5px;
}
